[submodule "libraries/coreMQTT/coreMQTT"]
	path = libraries/coreMQTT/coreMQTT
	url = https://github.com/biobotiot/coreMQTT.git
	branch = feature/v.2.3.1-customized
[submodule "libraries/coreMQTT-Agent/coreMQTT-Agent"]
	path = libraries/coreMQTT-Agent/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
	sbom-version = git-498e283
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/FreeRTOS/coreMQTT-Agent
	sbom-description = Agent for thread-safe use of coreMQTT
	sbom-hash = 498e283825dac3d45fa2f5cd47a061771896bd12
[submodule "libraries/Device-Shadow-for-AWS-IoT-embedded-sdk/Device-Shadow-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Shadow-for-AWS-IoT-embedded-sdk/Device-Shadow-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk.git
	sbom-version = 1.4.1
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk
	sbom-description = Client library for using the AWS IoT Device Shadow service on embedded devices
	sbom-hash = 268a5a276d3c3f451575b5a042b4e8ad53f134b6
[submodule "libraries/backoffAlgorithm/backoffAlgorithm"]
	path = libraries/backoffAlgorithm/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
	sbom-version = 1.4.1
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/FreeRTOS/backoffAlgorithm
	sbom-description = Algorithm for calculating exponential backoff with jitter for network retry attempts
	sbom-hash = 3cc0bf8c4d41d7cd7aa2f1ded5075c87bf6b2bbb
[submodule "libraries/Device-Defender-for-AWS-IoT-embedded-sdk/Device-Defender-for-AWS-IoT-embedded-sdk"]
	path = libraries/Device-Defender-for-AWS-IoT-embedded-sdk/Device-Defender-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk.git
	sbom-version = 1.4.0
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/aws/Device-Defender-for-AWS-IoT-embedded-sdk
	sbom-description = Client library for using the AWS IoT Device Defender service on embedded devices
	sbom-hash = 7059e199149a540471b484b710a51fc665636f22
[submodule "libraries/coreJSON/coreJSON"]
	path = libraries/coreJSON/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
	sbom-version = 3.3.0
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/FreeRTOS/coreJSON
	sbom-description = A parser strictly enforcing the ECMA-404 JSON standard, suitable for microcontrollers
	sbom-hash = e3b7663f6392d8c10e8db57506ec37e4801b145a
[submodule "libraries/corePKCS11/corePKCS11"]
	path = libraries/corePKCS11/corePKCS11
	url = https://github.com/FreeRTOS/corePKCS11.git
	sbom-version = 3.6.3
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/FreeRTOS/corePKCS11
	sbom-description = Software implementation of the PKCS #11 standard
	sbom-hash = eed7d3141dbccbbe70c9716f6744c9ec0758a37a
[submodule "libraries/coreHTTP/coreHTTP"]
	path = libraries/coreHTTP/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP.git
	sbom-version = 3.1.1
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/FreeRTOS/coreHTTP
	sbom-description = Client implementation of the HTTP/1.1 specification for embedded devices
	sbom-hash = 12adee81ddef588abada91672b34fd997b2a27ac
[submodule "libraries/Jobs-for-AWS-IoT-embedded-sdk/Jobs-for-AWS-IoT-embedded-sdk"]
	path = libraries/Jobs-for-AWS-IoT-embedded-sdk/Jobs-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk.git
	sbom-version = 1.5.1
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/aws/Jobs-for-AWS-IoT-embedded-sdk
	sbom-description = Library for using the AWS IoT Jobs service on embedded devices
	sbom-hash = 3ce91f56427653705891a8668568cb247b97905f
[submodule "libraries/Fleet-Provisioning-for-AWS-IoT-embedded-sdk/Fleet-Provisioning-for-AWS-IoT-embedded-sdk"]
	path = libraries/Fleet-Provisioning-for-AWS-IoT-embedded-sdk/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
	sbom-version = 1.2.1
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/aws/Fleet-Provisioning-for-AWS-IoT-embedded-sdk
	sbom-description = Library for using the Fleet Provisioning feature of AWS IoT Core on embedded devices
	sbom-hash = a97d53af335f135c6ee9d608a3e80be8a3009a89
[submodule "libraries/aws-iot-core-mqtt-file-streams-embedded-c/aws-iot-core-mqtt-file-streams-embedded-c"]
	path = libraries/aws-iot-core-mqtt-file-streams-embedded-c/aws-iot-core-mqtt-file-streams-embedded-c
	url = https://github.com/aws/aws-iot-core-mqtt-file-streams-embedded-c
	sbom-version = 1.1.0
	sbom-license = MIT
	sbom-supplier = Organization: Amazon Web Services
	sbom-url = https://github.com/aws/aws-iot-core-mqtt-file-streams-embedded-c
	sbom-description = Library for transferring files to IoT devices via MQTT Streams
	sbom-hash = 05ff5dc55a8591360664557f78ae1d71d696d201
